# PostgreSQL (inventory-service)
POSTGRES_DB=inventory_db
POSTGRES_USER=inventory_user
POSTGRES_PASSWORD=inventory_pass
POSTGRES_PORT=5432

# MySQL (booking-service)
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=booking_db
MYSQL_USER=booking_user
MYSQL_PASSWORD=booking_pass
MYSQL_PORT=3306

# Keycloak Database
KEYCLOAK_DB_ROOT_PASSWORD=root
KEYCLOAK_DB_DATABASE=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=password

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin